<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Iris Classifier</title>
  <link rel="stylesheet" href="static/style.css" />
</head>
<body>
  <div class="form-container">
    <h2>Iris Flower Classifier</h2>
    <p>Enter Iris measurements to predict the Iris species.</p>
    <form id="irisForm"  method="POST">
      <div class="form-group">
        <label for="sepalLengthCm">Sepal Length (cm):</label>
        <input type="number" step="any" id="sepalLengthCm" name="SepalLengthCm" required />
      </div>

      <div class="form-group">
        <label for="SepalWidthCm">Sepal Width (cm):</label>
        <input type="number" step="any"  id="SepalWidthCm" name="SepalWidthCm" required />
      </div>

      <div class="form-group">
        <label for="PetalLengthCm">Petal Length (cm):</label>
        <input type="number" step="any"  id="PetalLengthCm" name="PetalLengthCm" required />
      </div>

      <div class="form-group">
        <label for="PetalWidthCm">Petal Width (cm):</label>
        <input type="number" step="any"  id="PetalWidthCm" name="PetalWidthCm" required />
      </div>

      <button type="submit">Classify</button>
    </form>

    {% if prediction is not none %}
    <h3>Prediction : {{ prediction }}</h3>
    {% endif %}

    <div id="result" class="result"></div>
  </div>

</body>
</html>